/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  font-family: Ubuntu;
}

.red {
  color: #dd3d3d;
}

p.title {
  color: #8e27ab;
  font-size: 14px;
  font-weight: 600;
}

p.title img {
  height: 13px;
  padding-right: 2px;
}

p.title a {
  color: #8e27ab;
  outline: none;
  text-decoration: none;
}

p.title a:hover {
  color: #621a76;
  text-decoration: underline;
}
