#header .logo-text {
  margin-top: 15%;
  color: #e12db4;
  font-size: 1.25em;
  font-style: italic;
  border-left: 2px #e12db4 solid;
  padding: 0.5em 1em;
}

#header .contacts {
  padding-top: 5em;
}

#header .contacts p.col-title {
  color: #8e27ab;
  font-size: 1em;
  font-weight: 600;
}

#header .contacts ul {
  padding-left: 1em;
  list-style: none;
}

#header .contacts ul li {
  color: #4a98ae;
  font-size: 0.9em;
}

#header .contacts ul li:hover {
  color: #3b7f92;
 }

#header .contacts a.send-letter {
  color: #8e27ab;
  font-size: 1em;
  font-weight: 600;
  outline: none;
  text-decoration: none;
}

#header .contacts img.home-pencil {
  width: 1em; 
  height: 1em;
}

#header .contacts a.send-letter:hover {
  color: #743187;
}

#header .networks ul {
  list-style: none;
}

#header .networks ul li {
  display: inline; 
  padding-left: 0.5em;
}

#header .networks ul li a.facebook {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-image: url('./../facebook.svg');
}

#header .networks ul li a.vk {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-image: url('./../vk.svg');
}

#header .networks ul li a.instagram {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-image: url("./../instagram.svg");
}

#header .networks ul li a.facebook:hover {
  transition: 0.5s;
  background-image: url('./../facebook-hover.svg');
}

#header .networks ul li a.vk:hover {
  transition: 0.5s;
  background-image: url('./../vk-hover.svg');
}

#header .networks ul li a.instagram:hover {
  transition: 0.5s;
  background-image: url("./../instagram-hover.svg");
}

#header .navigation {
  margin-top: 1.5em; 
  margin-bottom: 0.75em;
  height: 4em; 
  border-radius: 8px; 
  background-color: #faac04;
  box-shadow: 1px 3px 5px 1px #b6b8b8;
}

#header .navigation ul li {
  list-style: none;
  float: left;
  height: 4em;
  padding: 0.7em 1.25em 0 1.25em;
}

#header .navigation ul li:hover {
  transition: 0.3s;
  list-style: none;
  background-color: #fd6404;
  float: left;
  height: 4em;
  padding: 0.7em 1.25em 0 1.25em;
}

#header .navigation ul li.active {
  margin-left: 1px;
  margin-right: 1px;
  background-color: #fd6404;
}

#header .navigation ul li a {
  color: white;
  font-size: 1.75em;
  font-weight: bold;
  text-decoration: none;
}

#header .navigation ul li a:hover {
  color: white;
  text-decoration: none;
}

#header .navigation ul li.cart {
  margin-right: 2em;
}

#header .navigation ul li.cart a {
  padding-right: 0.25em;
}

#header .navigation ul li.cart .items-amount {
  text-align: center;
  width: 2em;
  height: 2em;
  border-radius: 50%; 
  color: #fff; 
  background: #72bc15;
  font-weight: bold;
  font-size: 1.25em;
  padding-top: 0.3em;
}

/* Modal window for letter form */

#letter {
  margin-top: 10%;
  height: 350px;
  background: #fff;
  border-radius: 8px;
}

#letter .modal-body {
  margin: 1em 2em 0 2em;
}

#letter input.field {
  width: 100%;
  padding: 0.75em 1.5em;
  margin-bottom: 0.5em;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}

#letter textarea {
  width: 100%;
  padding: 0.75em 1.5em;
  margin-bottom: 0.5em;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
}

#letter input.submit {
  padding-left: 3em;
  padding-right: 3em;
}

.modal-backdrop {
  height: 100%;
}