
#header {
  margin-top: 30px;
  margin-bottom: 50px;
}

#header .logo p {
  margin-top: 25%;
  color: #e12db4;
  font-size: 16px;
  font-style: italic;
  border-left: 2px #e12db4 solid;
  padding: 10px 15px;
}

#header .connection {
  margin-top: 4%;
}

#header .connection ul {
  list-style: none;
  padding: 0;
}

#header .connection ul li {
  color: #4a98ae;
  font-size: 12px;
  margin-bottom: 3px;
}

#header .connection ul li:hover {
  color: #3b7f92;
}


#header .connection .networks ul {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

#header .connection .networks ul li {
  display: inline;
}

#header .connection .networks ul li a.fb {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-image: url('fb.svg');
}
#header .connection .networks ul li a.fb:hover {
  background-image: url('fb-hover.svg');
}

#header .connection .networks ul li a.vk {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-image: url('vk.svg');
}
#header .connection .networks ul li a.vk:hover {
  background-image: url('vk-hover.svg');
}

#header .connection .networks ul li a.instagram {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-image: url('instagram.svg');
}
#header .connection .networks ul li a.instagram:hover {
  background-image: url('instagram-hover.svg');
}

/* MODAL WINDOW WITH SEND LETTER FORM */

#send_letter {
  margin-top: 4%;
}

#send_letter .modal-header {
  padding: 15px 20px;
}

#send_letter .modal-header .close {
  outline: none;
}

#send_letter .modal-body {
  padding: 10px 100px;
}

#send_letter .modal-body .field {
  margin-top: 20px;
}

#send_letter .modal-body .field label {
  padding-left: 10px;
  font-weight: 300;
  font-size: 12px;
}

#send_letter .modal-body .field label.error {
  float: right;
  color: #dd3d3d;
  font-size: 11px;
  padding-right: 10px;
}

#send_letter .modal-body .field input[type="text"],
#send_letter .modal-body .field textarea {
  padding: 8px 15px;
  width: 100%;
  border-radius: 4px;
  font-size: 13px;
  border: 1px #bfbbbb solid;
}

#send_letter .modal-body .field textarea {
  height: 80px;
}

#send_letter .modal-body .field input[type="text"]:focus,
#send_letter .modal-body .field textarea:focus {
  outline: none;
  border: 1px #4a98ae solid;
  transition: 0.25s;
}

#send_letter .modal-body .field input[type="submit"] {
  margin: 20px 0;
}