.side_menu {
  height: 100%;
  border-radius: 8px; 
  box-shadow: 1px 3px 5px 1px #b6b8b8;
  z-index: 2;
  background-color: #93d003;
}

.side_menu ul {
  padding: 0;
  list-style: none;
  z-index: 1;
}

.side_menu ul li.header {
  color: #fff;
  padding: 1em 0 1em 2em;
  font-weight: 600;
  font-size: 1.25em;
  background-color: #77be1e;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.side_menu ul a {
  font-size: 1.15em;
  color: #fff;
}

.side_menu ul a:hover {
  color: #fff;
  text-decoration: none;
}

.side_menu ul li.menu {
  padding: 0.65em 0 0.65em 2em;
}

.side_menu ul li.menu:hover {
  transition: 0.3s;
  background-color: #f96804;
  padding: 0.65em 0 0.65em 2em;
}

.side-menu ul li.active {
  background-color: #f96804;
  padding: 0.65em 0 0.65em 2em;
}

/* Filter style *//* Filter style *//* Filter style *//* Filter style *//* Filter style *//* Filter style *//* Filter style *//* Filter style */

.items-filter {
  border-radius: 8px; 
  box-shadow: 1px 3px 5px 1px #b6b8b8;
  margin: 2em 0;
  padding: 0;
}

.items-filter .header {
  color: #ffffff;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  background-color: #fd6404;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.items-filter .body {
  margin: 0;
  padding: 1em 2em;
  width: 100%;
}

.items-filter .body input.input {
  width: 100%;
  padding: 0.5em 1em;
  outline: none;
  border: 1px #a9a9a9 solid;
}

.items-filter .body input.fsinput {
  width: 48%;
  padding: 0.5em 1em;
  outline: none;
  border: 1px #a9a9a9 solid;
}

.items-filter .body input.ssinput {
  width: 48%; 
  margin-left: 2%;
  padding: 0.5em 1em;
  outline: none;
  border: 1px #a9a9a9 solid;
}

.items-filter .body input.input:focus, 
.items-filter .body input.fsinput:focus, 
.items-filter .body input.ssinput:focus {
  transition: 0.3s;
  border: 1px #fe7c00 solid;
}

.items-filter .body .new {
  margin: 1.5em 0;
}

.items-filter .body .new p {
  display: inline; 
  margin-left: 0.75em;
}

.items-filter .body form p {
  font-size: 1.15em;
  font-weight: 700;
  padding: 1em 0 0.15em 0;
  color: #fdae04;
}

.items-filter .body input.submit {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 600;
  font-size: 16px;
  border: 1px #619c17 solid;
  color: #fff;
  background: #77be1e;
  margin-bottom: 1.25em;
}

.items-filter .body input.submit:hover {
  background: #619c17;
}

/* Advertisment style */

.advertisement {
  height: 100%;
  margin: 2em 0;
  padding: 1em;
  border-radius: 8px; 
  background-color: #3790f0;
}

.advertisement .top {
  font-size: 2.25em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.advertisement .middle {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.advertisement .bottom {
  font-size: 18px;
  color: #ffffff;
}
