<p style="font-size: 20px; color: #585151;">Сообщение оправлено с <%= link_to "o-lyalya.com", "http://o-lyalya.com", style: "font-size: 20px;" %>.</p>
<hr/>

<p style="font-size: 20px; color: #585151;">Письмо от пользователя <%= @name %></p>
<p style="font-size: 20px; color: #585151;"><%= @body %></p>
<p style="font-size: 20px; color: #585151;">Ответ прошу отправить на <%= @email %></p>