<% if flash.any? %>
  <div class="col-md-12">
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= msg %>
      </div>
    <% end %>
  </div>
<% end %>
