<div id="header">
  <div class="row">
    <div class="logo col-md-6">
      <div class="col-md-6">
        <%= link_to image_tag('logo.png', width: '100%', height: '100%'), root_path %>
      </div>
      <div class="col-md-6">
        <p>Магазин детской одежды и ручных изделий</p>
      </div>
    </div>
    <div class="connection col-md-6">
      <div class="col-md-6 text-center">
        <p class="title">КОНТАКТНЫЕ ТЕЛЕФОНЫ</p>
        <ul>
          <!-- TODO: номера админа -->
          <li>+38(093) 977 14 88</li>
          <li>+38(093) 977 14 48</li>
          <li>+38(093) 977 34 88</li>
        </ul>
        <!-- TODO: модальное окно -->
        <p class="title">
          <%= link_to '#send_letter', 'data-toggle' => 'modal', 'data-target' => '#send_letter' do %>
            НАПИСАТЬ НАМ ПИСЬМО
          <% end %>
        </p>
        <%= render 'layouts/letter_form' %>
      </div>
      <div class="networks col-md-6 text-center">
        <p class="title">МЫ В СОЦСЕТЯХ</p>
        <ul>
          <li><%= link_to '', 'https://www.facebook.com/Olyalya.Online.Store', class: 'fb' %></li>
          <li><%= link_to '', 'https://vk.com/olyalya_store', class: 'vk' %></li>
          <li><%= link_to '', 'https://instagram.com/olyalya_store', class: 'instagram' %></li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <%= render 'layouts/flash_message' %>
  </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="navigation">
        <ul>
          <li class="<%= panel_is_active?('/') %>">
            <%= link_to 'Главная', root_path %>
          </li>
          <li class="<%= panel_is_active?('/info') %>">
            <%= link_to 'Доставка и оплата', info_path %>
          </li>
          <li class="<%= panel_is_active?('/contacts') %>">
            <%= link_to 'Контакты', contacts_path %>
          </li>
          <li class="cart pull-right <%= panel_is_active?('/cart') %>">
            <%= link_to 'Корзина', cart_index_path %>
            <div class="items-amount pull-right">
              <%# Cart.items_amount(session[:list]) %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>




