<div class="modal fade" id="send_letter" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">НАПИСАТЬ ПИСЬМО</h4>
      </div>
      <div class="modal-body text-left">
        <%= form_for :letter, url: send_mail_path, html: { id: 'send_mail' }, method: :get do |f| %>
          <div class="field">
            <label for="letter_name" class="pull-left">Ваше имя <span class="red">*</span></label>
            <%= f.text_field :name %>
          </div>

          <div class="field">
            <label for="letter_email" class="pull-left">Ваш электронный адрес <span class="red">*</span></label>
            <%= f.text_field :email %>
          </div>

          <div class="field">
            <label for="letter_body" class="pull-left">Текст письма <span class="red">*</span></label>
            <%= f.text_area  :body %>
          </div>

          <div class="field text-right">
            <%= f.submit 'Отправить', class: 'btn btn-info' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("form#send_mail").validate({
    rules: {
      "letter[name]": "required",
      "letter[email]": { 
        required: true,
        email: true
      },
      "letter[body]": "required"
    },
    messages: {
      "letter[name]": "* Введите имя",
      "letter[email]": { 
        required: "* Введите электронный адрес",
        email: "* Неверный формат"
      },
      "letter[body]": "* Введите текст письма"
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
</script>