<div class="side_menu">
  <ul>
    <li class="header">Перейти к разделу</li>
    <% Category.all.each do |category| %>
      <%= link_to items_list_path(category.mark) do %>
        <li class="menu <% if params[:item_type] == category.mark %>active<% end %>"><%= category.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>